$yellow-1: #FFE27A;
$accent: #FE70A8;
$brand-primary: #ea4c23;
$brand-info: #5abfc8;

$brand-warning: darken($yellow-1, 20%);
$min-width: 1000px;

$form-control-bg: #f4f7fa;

$btn-primary-border: $brand-primary;
$btn-warning-border: $brand-warning;

$userpic-size : 128px;
$userpic-border-color: #fee37a;

$tabs-border-color: #e0e7ef;

$main-bg: #edf2f6;

$blocks-bg: #f5f8fa;

$form-border-color: #cfdae3;
