@import "assets/styles/vars";
@import "assets/styles/fonts";

.input-group-addon {
  border-radius: 0;
  border-color: $form-border-color;
}

.form-control {
  border-radius: 0;
  border-color: #5F5F5F;
  box-shadow: none;
  font: 16px 'Play', sans-serif;
  height: 44px;
  line-height: 30px;

  &:focus {
    border-color: #9A9A9A;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(76, 76, 76, 0.6);
  }
}

.control-label {
  font: 16px NeuzeitSLTBookHeavy;
  font-weight: normal;
  color: #4a5861;

  &.control-label__required:after {
    content: '*';
    color: $brand-primary;
  }
}

.form-horizontal {
  .radio-inline, .control-label {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.radio-inline {
  font: 16px NeuzeitSLTBook;
}

.flexable {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-description {
  margin-top: 20px;
  font: 20px CenturySchoolbookItalic;
  color: #84939d;
  text-align: center;
}
