header.main-page__background
  .container-fluid.main-page__wrapper
    .row
      ul
        li
          a ui-sref="main" Главная
        li
          a href="#" Cобытия
        li
          a href="#" Магазин
        li
          a ui-sref="app.nutrition" Питание
        li
          a ui-sref="app.blog" Блог
    .main-header__login ng-if="!currentUser.exists()"
      a ui-sref="app.login" Войти
      a ui-sref="app.signUpMethod" Зарегистрироваться
    .main-header__login ng-if="currentUser.exists()"
      a href="#" Добро пожаловать {{currentUser.first_name}}
      a href="#" ng-click="logout()" Выйти
    .main-text__brand
      h2 Приготовьтесь
      h1 Изменить
      h3 Свою жизнь

section.main-page__rules
  .container.rules__description
    .row
      .col-sm-5.page-rules__who-i
        span.brand-color>что
        'для меня важно ?
      .col-sm-7.page-rules__rule Я не хочу вас тащить в спортивный зал. Сидя дома, просто осмотритесь...
  .container
    .row
      .col-sm-8.page__main-rules
        p Выставлять приоритеты, планировать и развивать успешные привычки для достижения вашей конечной цели.
          Примите меры, будьте терпеливы и оставайтесь сосредоточенными.
        ul
          li
            span 01
            .rules-content
              h5 будь терпеливым
              span Aдский труд побьет талант
          li
            span 02
            .rules-content
              h5 усиленно тренируйся
              span Все, что с ним происходит сейчас - это вполне закономерно
          li
            span 03
            .rules-content
              h5 будь сильным
              span Чем ты сильнее, сильнее зависть людей.
      .col-sm-4
        img.img-responsive src='<%=asset_path "assets/first-page-images/man.png" %>'
.main-page__events
  .container-fluid
    .row
      .col-sm-5
        .container-fluid
          .next-events__wrapper
            .main__next-events
              span.brand-color> Следующие
              'события
            .main__next-events-description Вот уже много лет я не теряю любви к регулярным тренировкам, есть особый
                                           драйв в том, чтобы бросать своему телу новые вызовы и достигать результата.
      .col-sm-2
        .row.events__wrap
          .event__field-wrap ng-repeat="field in fields" ng-class="{'active': field.activeState}" ng-click="changeState(field.id, field.trueDate)"
            span {{field.date}}
            p {{field.name}}
      .col-sm-5.event-time__wrapper
        .row
          img ng-src='/assets/assets/first-page-images/event-page-{{eventId}}.jpg'
          .wrap-inner
          .event-timer
            timer end-time="eventDate" interval="1000" max-time-unit="'day'" {{ddays}} day{{daysS}} | {{hours}} hour{{hoursS}} | {{minutes}} minute{{minutesS}} | {{seconds}} second{{secondsS}}
section.main-page__popular_types
  .container.rules__description
    .row
      .col-sm-5.page-rules__who-i
        span.brand-color>Популярные
        'виды
      .col-sm-7.page-rules__rule Тебе тяжело в тренажёрном зале, но твоему сопернику может быть в два раза тяжелее.
  .container
    .row
      .col-sm-4 ng-repeat="type in popularTypes"
        .type_wrapper_bg
          img.img-responsive ng-src='assets/assets/first-page-images/types/{{type}}.jpg'
          .inner-type-bg
.main-page__reviews
  section.inner-bg__reviews
    .container
      .row
        .col-sm-5
          .reviews-header__wrapper
            .main__next-events
              span.brand-color> Счастливые
              'истории и отзывы
            .main__next-events-description Вот уже много лет я не теряю любви к регулярным тренировкам, есть особый
                                           драйв в том, чтобы бросать своему телу новые вызовы и достигать результата.
        .col-sm-7
          .carousel-block
            carousel-wrapper slides="slides" carousel-interval="carouselInterval"
section.main-page__our-trainer
  .container.rules__description
    .row
      .col-sm-5.page-rules__who-i
        span.brand-color>Наш
        'тренер
      .col-sm-7.page-rules__rule Час, который ты проводишь в зале, очень важен! Но, на самом деле, ключ
                                 успеха состоит в том, как ты проведешь остальные оставшиеся 23 часа.
  .container
    .row
      .col-sm-6
        img src='<%=asset_path "assets/first-page-images/teacher.png" %>'
      .col-sm-6.our-trainer__information
        h3 Алеся Петренко
        p Мастер / Волейбол
        span Очень информативный тренинг. Ваш тренер всегда будет готов объяснить факты. Его умение технично...
section.main-page__video-training
  .container
    .row
      .col-sm-offset-3.col-sm-6.video-training_wrapper
        iframe width="100%" height="100%" src="https://www.youtube.com/embed/CWCXLvbi3CM" frameborder="0" allowfullscreen=""
section.main-page__latest_news
  .container.rules__description
    .row
      .col-sm-5.page-rules__who-i
        span.brand-color>Последние
        'новости
      .col-sm-7.page-rules__rule Настоящая сила рождается в голове. Она заставляет идти, даже когда тело хочет упасть.
  .container
    .row
      .col-sm-4
        .news-img__wrapper
          img.img-responsive src='<%=asset_path "assets/first-page-images/news/1.jpg" %>'
        .news-inform
          .news-date
            '01
            'МАЯ
          .news-edit
            span
              i.fa.fa-pencil
              'admin
            span
              i.fa.fa-comment
              '1
        .news-description
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      .col-sm-4
        .news-img__wrapper
          img.img-responsive src='<%=asset_path "assets/first-page-images/news/2.jpg" %>'
        .news-inform
          .news-date
            '05
            'АПР
          .news-edit
            span
              i.fa.fa-pencil
              'admin
            span
              i.fa.fa-comment
              '2
        .news-description
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      .col-sm-4
        .news-img__wrapper
          img.img-responsive src='<%=asset_path "assets/first-page-images/news/3.jpg" %>'
        .news-inform
          .news-date
            '20
            'АВГ
          .news-edit
            span
              i.fa.fa-pencil
              'admin
            span
              i.fa.fa-comment
              '0
        .news-description
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
section.main-page__price
  .container.rules__description
    .row
      .col-sm-5.page-rules__who-i
        span.brand-color>Наши
        'цены
      .col-sm-7.page-rules__rule Смысл жизни – не просто существовать или выживать. Нужно постоянно двигаться вперед,
                                 вверх, достигать, завоевывать.
  .container.price-container
    .row
      .col-sm-4
        .price-wrapper
          h3 Новичек
          h1 250 грн.
          h5 1 месяц
          .price-include
            p тренажеры
            p без тренера
            p 3 дня в неделю
          button.btn.btn-primary type="button" записаться
      .col-sm-4
        .price-wrapper.red-border
          h3 Стандарт
          h1 360 грн.
          h5 1 месяц
          .price-include
            p тренажеры
            p с тренером
            p 3 дня в неделю
          button.btn.btn-primary type="button" записаться
      .col-sm-4
        .price-wrapper
          h3 Про
          h1 450 грн.
          h5 1 месяц
          .price-include
            p тренажеры
            p с тренером
            p безлимит
          button.btn.btn-primary type="button" записаться
.main-page__counters
  .container
    .row
      .col-sm-3.col-xs-6.counters-block__wrapper ng-repeat="count in fieldCounts"
        counter-to times="count.counts"
        span {{count.text}}

.main-page__location
  .container-fluid
    .row
      .col-sm-6.location-google__map
        .row
          ng-map zoom="16" center="[50.911928, 34.810180]"
            marker position="[50.911870, 34.810076]" animation="Animation.BOUNCE" centered="true"
      .col-sm-6.location-information
        h2 наши контакты
        p
          i.fa.fa-map-marker
          'г. Сумы ул. Троицкая 1/1
        p
          i.fa.fa-phone
          '+380993323232 / +380954544343
        p
          i.fa.fa-envelope-o
          'alesya-berserk@gmail.com
footer.main-page__footer.text-center
  .footer_logo
    img src='<%=asset_path "assets/first-page-images/logo.jpg" %>'
  .footer_social
    ul
      li
        a href="#" Vk
      li
        a href="#" Facebook
      li
        a href="#" Instagram
  .footer_copyright
    p Copyright © 2015 - Venumteam - All rights reserved.
