.header-page {
  padding: 50px 20px;
  background: asset_url('assets/first-page-images/header-bg.jpg') no-repeat;
  background-size: cover;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding: 10px 15px;

      a {
        color: #fff;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Play', sans-serif;
      }
    }

    li.active a {
      color: #ea4c23;
      text-decoration: none;
    }
  }

  .header-page__login {
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;

    a {
      font-family: 'Play', sans-serif;
      color: #fff;
      padding-left: 10px;
      padding-right: 10px;

      &:last-child {
        border-left: 1px solid #fff;
        box-sizing: border-box;
      }

      &:first-child {
        border-right: 1px solid #fff;;
      }
    }
  }

  .header-page__state {
    h2 {
      color: #fff;
      text-transform: uppercase;
      font-family: 'PT Sans Caption', sans-serif;
    }
  }
}
