@import "assets/styles/vars";

upload-button {
  position: relative;
  overflow: hidden;
  display: inline-block;

  input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.crop-holder {
  display: flex;
  height: 300px;
  align-items: flex-start;
  justify-content: center;
}


img-crop {
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  width: 380px;
  border: 5px solid #cfb745;

  canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
  }
}

.thumb {
  width: 180px;
  border-radius: 100%;
  margin-left: 10px;
  border: 3px solid #ea4c23;
}
